[Unit]
Description=Renew all certificates obtained by root

[Service]
Type=simple
ExecStart=/usr/bin/acme.sh --cron --home "/etc/acme.sh" > /dev/null
