Source: acme-sh
Maintainer: José Miguel Sánchez Alés <sio2sio2@gmail.com>
Build-Depends: debhelper (>= 12), lsb-release, wget
Standards-Version: 4.3.0

Package: acme-sh
Architecture: all
Description: Unix shell script implementing ACME client protocol
 acme.sh is an ACME API client that can be used to get SSL/TLS certificates
 from various ACME-compliant Certificate Authorities
 such as Zerossl or Letsencrypt 
Priority: optional
Section: web
Depends: wget | curl,
         ${misc:Depends}
