#!/usr/bin/make -f

VERSION := $(shell dpkg-parsechangelog -S version)

PACKAGEVERSION  := $(VERSION)
GITHUBUSER      := acmesh-official
PROJECT		:= acme.sh
BRANCH		:= 3.0.5


%:
	dh_clean
	dh $@

override_dh_strip:
        # don't perform dh_strip
	echo dh_strip

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p debian/tmp
	wget -P debian/tmp https://github.com/$(GITHUBUSER)/$(PROJECT)/archive/$(BRANCH).tar.gz
	tar xzvf debian/tmp/$(BRANCH).tar.gz -C debian/tmp
	patch debian/tmp/$(PROJECT)-$(BRANCH)/dnsapi/dns_acmedns.sh patches/acme-sh-GH4431.patch
	cp -Rf debian/tmp/$(PROJECT)-$(BRANCH)/acme.sh debian/acme-sh/usr/lib/acme.sh/
	cp -Rf debian/tmp/$(PROJECT)-$(BRANCH)/deploy/ debian/acme-sh/usr/lib/acme.sh/ 
	cp -Rf debian/tmp/$(PROJECT)-$(BRANCH)/dnsapi/ debian/acme-sh/usr/lib/acme.sh/ 
	cp -Rf debian/tmp/$(PROJECT)-$(BRANCH)/notify/ debian/acme-sh/usr/lib/acme.sh/
	cp account-etc.conf debian/acme-sh/etc/acme.sh/account.conf
	ln -s ../lib/acme.sh/acme.sh debian/acme-sh/usr/bin/acme.sh

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
